/* ALL PAGES */

body {
    background-color: #F7F7F7;
    font-family: 'Indie Flower', 'Arial', cursive;
}

.btn {
    /* need to change bg coor eventually (taken from salt) */
    background-color: #F5F4F2; 
    border-radius: 40%;
    white-space: nowrap;
    width: 130px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 5px;
    text-align: left;
}

.navbar {
    font-family: Arial, Helvetica, sans-serif;
}

.navbar-img {
    height: 40px;
}
.page-header {
    margin: 150px;
    text-align: center;
    font-family: 'Montserrat', Helvetica, sans-serif;
    font-weight: bold;
}

.home-img {
    width: 220px;
    border-radius: 50%;
    float: left;
    margin-right: 30px;
}
/* HOME PAGE */
#intro {
    /* width: 50%; */
    margin: 30px 0 100px 0;
    padding: 0 25% 0 25%;
}

.home-img {
    width: 300px;
    border-radius: 100%;
    float: left;
    margin-right: 30px;
}

#where-to {
    margin-left: 50px;
}

.homepage-country {
    display: inline-block;
}


/* DESTINATIONS */
.continent-col {
    background-color: white;
    line-height: 10px;
    font-family: 'Montserrat', Helvetica, sans-serif;
    font-weight: bold;
}
.continent-col > h1,h2,h3 {

    margin: 20px;
}

.country-tiles-img {
    width: 20px;
    margin: 5px;
}

.continent-img {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    margin: -30px 0 10px 0;
}

/* COUNTRY PAGE */
.circle-header-img {
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-radius: 100%;
    float: right;
    margin: -50px 50px 50px 50px;
}

.banner-header-img {
    height: 500px;
    float: right;
    object-fit: cover;
    border-radius: 100%;
    position: absolute;
    right: -300px;
}
/* PHILIPPINES */
.article-preview {
    background-size: 250px 300px;
    border-radius: 5%/5%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    width: 250px;
    height: 300px;
    margin: 30px;
    position: relative;
    display: inline-block;
    transition: transform 0.5s
}

.article-preview:hover {
    transform: scale(0.95);
}

.article-preview > h3 {
    position: absolute;
    bottom: 20px;
    left: 0;
    color: white;
    font-weight: bold;
}
.article-preview > h4 {
    position: absolute;
    bottom: 0;
    left: 20px;
    color: white;
}

.article-preview-section {
    margin-top: 200px;
}

#cebu-preview {
    background-image: url("https://images.pexels.com/photos/2413238/pexels-photo-2413238.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2")
}
#bohol-preview {
    background-image: url("https://images.pexels.com/photos/15289296/pexels-photo-15289296/free-photo-of-a-koala-perched-on-tree-branch-in-close-up-photography.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2")
}
#siquijor-preview {
    background-image: url("https://images.pexels.com/photos/14634010/pexels-photo-14634010.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2")
}

/* SRI LANKA */

#lanka-preview {
    background-image: url("https://media.cnn.com/api/v1/images/stellar/prod/191029145109-sri-lanka-tourism-images-sigiriya-03-1.jpg?q=w_1600,h_901,x_0,y_0,c_fill/w_1280");
}

/* ARTICLE */
.article-header {
    padding: 5px;
}

.page-links > *{
    display: block;
}
.page-links {
    margin: 30px;
}