body {
    background-color: #FFF7EA;
    font-family: 'Indie Flower', cursive;
}

.btn {
    border-radius: 40%;
    width: 130px;
}
.continent-col {
    background-color: purple;
}
.continent-col > h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.header-img {
    width: 220px;
    border-radius: 50%;
    float: left;
    margin-right: 30px;
}

#intro {
    /* width: 50%; */
    margin: 30px 0 100px 0;
    padding: 0 25% 0 25%;
}

#where-to {
    margin-left: 50px;
}


.homepage-country {
    display: inline-block;
}



.country-tiles-img {
    width: 20px;
    margin: 5px;
}

.navbar {
    font-family: 'Courier New', Courier, monospace;
}